<div>
	<%= post.label :title, class: "block uppercase" %>
	<%= post.text_field :title, class: "mb-8 border-gray-600 text-sm rounded-lg 
				focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
</div>

<div>
	<%= post.label :content, class: "block uppercase" %>
	<%= post.text_area :content, class: "mb-8 border-gray-600 text-sm rounded-lg 
				focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
</div>